header, nav, main, footer{
    max-width: 60rem;
    margin: auto;
}

nav ul{
    justify-content: right;
}

nav ul li a{
 padding: .6rem 2rem;
 font-size: 1rem;
 
}

section{

    grid-template-columns: 1fr 1fr 1fr;
}