header, nav, main, footer{
    max-width: 60rem;
    margin: auto;
}

nav {
    button{
        display: none;
    }

    ul, ul.open{
        border: none;
        display: flex;
    }

    ul li{
        border: none;
    }
}


.allcards{
    section{
        flex-basis: calc(33.3333333% - (($gutter * 2))/3)
    }
}