header{
    padding: 2rem $gutter;
    h1{
        font-size: 2rem;}
}


.allcards{
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
    section{
        flex-basis: calc(50% - ($gutter/2))
    }
}