html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#headerWrapper {
  background-color: rgb(0, 0, 0);
  color: $primaryColor;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
    color: white;
  }
}

#navWrapper {
  background-color: rgb(0, 0, 0);
}

nav {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      flex: 1px;
    }
  }
  li.active {
    background-color: rgba(204, 18, 18, 0.36);
  }
  a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    &:hover {
      color: rgb(77, 203, 35);
    }
  }
}



// begin footer
#footerWrapper{
    background-color: rgb(11, 78, 78);
}

footer{
    padding: 0.5rem $gutter;
    p{
        margin: 0;
        font-weight: $lightWeight;
        text-align: center;
        color: white;
       
    }
}